/* Alert Box Styles */

.alert-box {
  position: fixed;
  right: 0;
  bottom: 20px;
  background-color: #0db50d;
  font-size: 20px;
  padding: 20px 40px 15px 15px;
  color: white;
}
.alert-box .close-alert {
  position: absolute;
  right: 10px;
  top: 35px;
  font-size: 20px;
  cursor: pointer;
}
.alert-box .close-alert:hover {
  color: #0db50d;
  background-color: white;
  border-radius: 100%;
}

.alert-box.show ::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: #6eff6e;
  z-index: -11;
  width: 100%;
  height: 4px;
  box-sizing: border-box;
  bottom: 0;
  animation : progressBar 10s linear;
}

@keyframes progressBar {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}

.alert-box.show {
  animation: showAlert 1s ease forwards;
}
@keyframes showAlert {
  0%{
    transform: translateX(100%);
  }
  40%{ 
    transform: translateX(-15%);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-10px);
  }
}
    
.alert-box.hide {
  animation: hideAlert 1s ease forwards;
}

@keyframes hideAlert {
  0%{
    transform: translateX(-10px);
        }
  40%{ 
    transform: translateX(0);
        }
  80%{
    transform: translateX(-15%);
  }
  100%{
    transform: translateX(100%);
  }
}